:host {
  display: contents;
}

.chats {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: .5s all ease;

    &:hover {
      background: var(--border-color);
      color: var(--primary-text-color);
    }
  }
}
