<app-form (onSubmit)="login()" [formGroup]="loginForm">
  <app-heading>Вхід у систему</app-heading>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Електронна адреса</mat-label>
    <input formControlName="email" matInput required type="email"/>
    <app-input-error [control]="loginForm.get('email')"/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Пароль</mat-label>
    <input formControlName="password" matInput required type="password"/>
    <app-input-error [control]="loginForm.get('password')"/>
  </mat-form-field>
  <button [disabled]="!loginForm.valid" class="button" matButton="filled" type="submit">Відправити</button>
</app-form>
