:host {
  display: contents;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--icon-color);
  background-color: var(--primary-text-color);
  cursor: pointer;
  overflow: hidden;
  opacity: .8;
  transition: opacity .5s ease;

  &:hover {
    opacity: 1;
  }
}
