:host {
  display: contents;
}

.auth-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page {
    padding: 20px 15px;
    display: flex;
    flex: 1 1 auto;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
}
