<form (ngSubmit)="submitHandler()" [formGroup]="formGroup()" class="form">
  <app-heading>{{ titleText() }}</app-heading>
  @for (control of controls; track control) {
    <mat-form-field appearance="outline" class="input">
      <mat-label>{{ getMeta(control)?.label }}</mat-label>
      <input
        [formControlName]="getNameOfController(control)"
        matInput
        required
        [type]="getInputType(getNameOfController(control)!)"
      />
      <app-input-error [control]="control"/>
    </mat-form-field>
  }
  <app-button [disabled]="!formGroup().valid" [text]="submitText()" class="button" type="submit"/>
</form>
