:host {
  display: contents;
}

.user-links {
  position: absolute;
  right: 0;
  bottom: -31px;
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  padding: 10px;
  border-radius: var(--border-radius);
  transform: translateY(75%);
  transition: opacity .5s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    font-size: 20px;

    a {
      opacity: .8;
      transition: opacity .5s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}
