:host {
  display: contents;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 76px);
  min-width: 250px;
  background: #ffffff;
  transition: .5s all ease;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &-left {
    border-right: 1px solid grey;
    transform: translateX(-100%)
  }

  &-right {
    border-left: 1px solid grey;
    transform: translateX(100%);
  }

  &.open {
    transform: translateX(0);
  }
}
