.chats-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page {
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 1;
  }

  main {
    flex: 1 0 auto;
  }
}
