@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
:root {
  --primary-background-color: #0675cf;
  --secondary-background-color: #131313;
  --primary-text-color: #ffffff;
  --border-color: grey;
  --icon-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li, a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
