* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background-color: #0675cf;
  --primary-text-color: #ffffff;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
