:host {
  max-width: 1600px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.send-message form {
  display: flex;
  flex-direction: column;
}
