@if (!chat()) {
  <div>Виберіть чат для спілкування</div>
} @else {
  <div class="heading">
    <div class="info">
      <h1 class="title">{{ chat()?.title }}</h1>
      <span class="description">{{ chat()?.description }}</span>
    </div>
  </div>
  <div class="messages">
    <ul>
        @for (message of chat()?.messages; track message) {
          <li class="message">
            <app-avatar [user]="message.author"/>
            <div>
              <div>
                <span>{{ cryptoService.decrypt(message.text, message.author.macSecret) }} {{ isMessageNotChanged(message) ? "✔️" : "❌" }}</span>
                <span>{{ formatDate(message.createdAt) }}</span>
                <span></span>
              </div>
            </div>
          </li>
        }
    </ul>
  </div>
  <div class="send-message">
    <form>
      <app-input [formGroup]="messageForm" [controller]="textInput"/>
      <app-button [disabled]="!messageForm.valid" text="Відправити"/>
    </form>
  </div>
}
