:host {
  max-width: 1600px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 auto;
  border-bottom: 1px solid var(--border-color);
  overflow-y: scroll;

  .message {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.send-message form {
  display: flex;
  flex-direction: column;
}
